<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Index page-home page</title>
</head>

<body>
    <form>

        <div class="header">
			<div class="article">
				<div id="article-1">
					<p id="center">Home Admin</p>
					
				</div>
				<div id="article-2">
					<p id="center"><a href="#">Shop</a></p>
				</div>
				<div id="article-3">
					<p id="center"><a href="/accountmanagement">ManageAccount</a></p>
					
				</div>
				<div id="article-4">
					<p id="center"><a href="/productmanagement">ManageProduct</a></p>
					
				</div>
			</div>
		</div>
        <div class="section">

        </div>
        <div class="product">
			<div class="product-1">
				<img src="https://sudospaces.com/babycuatoi/2020/05/cau-truot-tre-em1.jpg" alt="Cau truot tre em">
			</div>
			<div class="product-2">
				<img src="https://sudospaces.com/babycuatoi/2020/05/banner-quay-bong-2.jpg" alt="banner-quay-bong-2"
					width="500px" height="411px">
			</div>
			<div class="product-3">
				<img src="https://sudospaces.com/babycuatoi/2020/04/668-52-do-choi-xe-day-ban-kem-cho-be.jpg"
					alt="do choi xe day" width="500px" height="411px">
			</div>
		</div>
		<div id="nav">
			<div class="nav-header">
				<div class="title">
					Why choose us ?
				</div>
				<div class="clearfix">
					<div class="nav-header-1">
						<div class="icon">
							<img src="https://sudospaces.com/babycuatoi/2019/10/cam-ket-chat-luong-1.png" alt="#">
						</div>
						<div class="subtitle">
							Commitment to quality
						</div>
						<p>Our shop provides safe, non-toxic plastic materials and electronic components with the highest quality.</p>

					</div>
					<div class="nav-header-1">
						<div class="icon">
							<img src="https://sudospaces.com/babycuatoi/2019/10/he-thong-cua-hang-1.png" alt="#">
						</div>
						<div class="subtitle">
							Shop system
						</div>
						<p>My store system provides cheap, high quality toy products manufactured according to European Standards, fully certified and inspected.</p>
					</div>
					<div class="nav-header-1">
						<div class="icon">
							<img src="https://sudospaces.com/babycuatoi/2019/10/support-icon.png" alt="#">
						</div>
						<div class="subtitle">
							Packaging process
						</div>
						<p>Package process from product consultation, manual assembly, to shipping sales and post-purchase support, warranty maintenance and repair according to high quality standards.</p>

					</div>
				</div>
			</div>
		</div>

		</div>
		<div class="footer">
			<div class="system-shop">
				<h3>Shop system</h3>
			</div>
			<div class="list-shop-systems">

				<div class="list-shop-systems-1">
					<p><strong>Biz Ha Đong ( Metro Ha Đong )</strong></p>
					<p>Floor 3 - TTTTM MeLinh Ha Đong, So 1 Ha Cau - Ha Đong - HN</p>
					<p>TEL: 02422026779</p>
					<p>OPEN: 9h:00 - 21:30</p>
				</div>

				<div class="list-shop-systems-2">
					<p><strong>Biz Long Biên ( Big C Long Bien )</strong></p>
					<p>Floor 2, TTTM Savico Long Bien, 7-9 Nguyen Van Linh Street, quan Long Ben, TP Ha Noi</p>
					<p>TEL: 024 6290 3000</p>
					<p>OPEN: 9:00 - 22:00</p>
				</div>

				<div class="list-shop-systems-3">
					<p><strong>Biz My Đinh ( Big C My Đinh )</strong></p>
					<p>Floor 3 - TTTM The Garden - Me Tri Street - My Đinh - Ha Noi (BIG C Me Tri)</p>
					<p>TEL: 024 2248 3555</p>
					<p>OPEN: 09:00 - 22:00</p>

				</div>

			</div>
		</div>



    </form>

</body>

</html>