<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Index page-home page</title>
</head>

<body>
    <form>

        <div class="header">
			<div class="article">
				<div id="article-1">
					<p id="center">Home Admin</p>
					
				</div>
				<div id="article-2">
					<p id="center"><a href="#">Shop</a></p>
				</div>s
				<div id="article-3">
					<p id="center"><a href="/accountmanagement">ManageAccount</a></p>
					
				</div>
				<div id="article-4">
					<p id="center"><a href="/productmanagement">ManageProduct</a></p>
					
				</div>
			</div>
		</div>
        <div class="section">

        </div>
        <div class="product">
			<div class="product-1">
				<img src="https://sudospaces.com/babycuatoi/2020/05/cau-truot-tre-em1.jpg" alt="Cau truot tre em">
			</div>
			<div class="product-2">
				<img src="https://sudospaces.com/babycuatoi/2020/05/banner-quay-bong-2.jpg" alt="banner-quay-bong-2"
					width="500px" height="411px">
			</div>
			<div class="product-3">
				<img src="https://sudospaces.com/babycuatoi/2020/04/668-52-do-choi-xe-day-ban-kem-cho-be.jpg"
					alt="do choi xe day" width="500px" height="411px">
			</div>
		</div>
		<div id="nav">
			<div class="nav-header">
				<div class="title">
					Tại sao chọn chúng tôi
				</div>
				<div class="clearfix">
					<div class="nav-header-1">
						<div class="icon">
							<img src="https://sudospaces.com/babycuatoi/2019/10/cam-ket-chat-luong-1.png" alt="#">
						</div>
						<div class="subtitle">
							Cam kết chất lượng
						</div>
						<p>Cửa hàng của tôi cung cấp sản phẩm có nguyên liệu nhựa an toàn, không độc tố và các linh kiện
							điện tử
							chất lượng cao nhất</p>

					</div>
					<div class="nav-header-1">
						<div class="icon">
							<img src="https://sudospaces.com/babycuatoi/2019/10/he-thong-cua-hang-1.png" alt="#">
						</div>
						<div class="subtitle">
							Hệ thống cửa hàng
						</div>
						<p>Hệ thống cửa hàng baby của tôi cung cấp đồ chơi và các sản phẩm giá rẻ chất lượng cao được
							sản
							xuất theo Tiêu chuẩn Châu Âu, có đầy đủ chứng nhận và kiểm định.</p>
					</div>
					<div class="nav-header-1">
						<div class="icon">
							<img src="https://sudospaces.com/babycuatoi/2019/10/support-icon.png" alt="#">
						</div>
						<div class="subtitle">
							Quy trình trọn gói
						</div>
						<p>Quy trình trọn gói từ giới thiệu tư vấn sản phẩm, hướng dẫn sử dụng lắp ráp, tới bán hàng vận chuyển và hỗ trợ sau mua hàng, bảo hành bảo trì sửa chữa theo tiêu chuẩn chất lượng cao.</p>

					</div>
				</div>
			</div>
		</div>

		</div>
		<div class="footer">
			<div class="system-shop">
				<h3>Hệ Thống Cửa Hàng</h3>
			</div>
			<div class="list-shop-systems">

				<div class="list-shop-systems-1">
					<p><strong>Biz Hà Đông ( Metro Hà Đông )</strong></p>
					<p>Tầng 3 - TTTTM MeLinh Hà Đông, Số 1 Hà Cầu - Hà Đông - HN</p>
					<p>TEL: 02422026789</p>
					<p>OPEN: 9h:00 - 21:30</p>
				</div>

				<div class="list-shop-systems-2">
					<p><strong>Biz Long Biên ( Big C Long Biên )</strong></p>
					<p>Tầng 2, TTTM Savico Long Biên, số 7-9 đường Nguyễn Văn Linh, quận Long Biên, TP Hà Nội</p>
					<p>TEL: 024 6291 3000</p>
					<p>OPEN: 9:00 - 22:00</p>
				</div>

				<div class="list-shop-systems-3">
					<p><strong>Biz Mỹ Đình ( Big C Mỹ Đình )</strong></p>
					<p>Tầng 3 - TTTM The Garden - Đường Mễ Trì - Mỹ Đình - Hà Nội (BIG C Mễ Trì)</p>
					<p>TEL: 024 2245 3555</p>
					<p>OPEN: 09:00 - 22:00</p>

				</div>

			</div>
		</div>


    </form>

</body>

</html>